<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forkcast Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/register.js') }}" defer></script>
    
  </head>

  <body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
      <div class="row border rounded-5 p-3 bg-white shadow box-area">

        
        <div class="col-md-6 rounded-5 d-flex justify-content-center align-items-center flex-column left-box" style="background-color:whitesmoke">
          <div class="featured-image mb-3">
            <img src="{{ url_for('static', filename='images/signup-second.gif') }}" class="img-fluid" alt="signup" width="250px">
          </div>
          <p class="fs-4 fw-semibold text-center" style="font-family: 'Courier New', Courier, monospace;">
            hungry?
          </p>
          <p>let the algo decide for you 🍴</p>
        </div>

        
        <div class="col-md-6 right-box">
          <form method="POST" action="{{ url_for('signup') }}">
            <div class="row align-items-center">
              <div class="header-text mb-4">
                <p class="fs-4">Create your Forkcast account</p>
              </div>

              <div class="input-group mb-3">
                <input type="email" class="form-control form-control-lg bg-light fs-6" id="signup-email" name="email" placeholder="Email" required>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control form-control-lg bg-light fs-6" id="signup-password" name="password" placeholder="Password" required>
              </div>

              <div class="input-group mb-3">
                <button type="submit" class="btn btn-lg btn-secondary w-100 fs-6 rounded-pill" id="submit">Sign Up</button>
              </div>

            <div class="input-group mb-3">
               <button type="button" class="btn btn-lg btn-secondary w-100 fs-6 rounded-pill d-flex align-items-center justify-content-center gap-2">
                  <img src="{{ url_for('static', filename='images/google-logo.svg') }}" alt="google" style="width: 20px;">
                <span>Sign up with Google</span>
              </button>
            </div>


              <div class="row">
                <small>Already have an account? <a href="{{ url_for('login') }}"><span id="login-link">login</span > </a></small>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
