<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>forkcast trending</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/trending.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="{{ url_for('static', filename='images/forkcast.svg') }}"
            alt="forkcast logo"
            class="img-fluid"
            style="max-height: 40px"
          />
        </a>
        <div class="collapse navbar-collapse">
          <div class="navbar-nav">
            <a class="nav-link" href="https://github.com/Sujal-prasad">
              <img
                src="{{ url_for('static', filename='images/github.svg') }}"
                alt="github"
                class="img-fluid"
                style="max-height: 40px"
              />
            </a>
            <a
              class="nav-link"
              href="https://www.linkedin.com/in/sujal-prasad-baaa62230"
            >
              <img
                src="{{ url_for('static', filename='images/linkedin.svg') }}"
                alt="linkedin"
                class="img-fluid"
                style="max-height: 40px"
              />
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="card-title">
      <h2 style="text-align: center;">#Trending this week</h2>

      <div class="card-wrapper d-flex justify-content-center flex-wrap">
        {% for i, restaurant in enumerate(results[:3]) %}
        <div class="card m-3" style="width: 18rem;">
          <img
            src="{{ url_for('static', filename='images/restaurant ' ~ (i+11) ~ '.svg') }}"
            class="card-img-top"
            alt="#{{ i+1 }} trending"
          />
          <div class="card-body">
            <h5 class="card-title"># Trending number {{ i + 1 }}</h5>
            <p class="card-text">
              <strong>{{ restaurant.name }}</strong><br />
              Rating: {{ restaurant.rating }} ⭐<br />
              Reviews: {{ restaurant.total_reviews }}<br />
              Distance: {{ restaurant.distance_km }} km<br />
              Price Level: {{ restaurant.price_level }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <footer>made with ❤️ by Sujal</footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
